/*je ne sais pas code le queri pour fixer une largeur differente sur pc ou mobile*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color: hsl(0, 0%, 98%);
}


.purpleBckGnd{
    background-color: hsl(256, 26%, 20%);

}
