/*je ne sais pas code le queri pour fixer une largeur differente sur pc ou mobile*/


/*

            GENERAL         

*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top : 8%;

}
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(0, 0%, 98%);  
}



h1, h2, h3, h4, h5, h6{
   
    font-family: 'DM Serif Display', serif;  
}

a{
    text-decoration: none;
}

li{
    list-style : none;
}


li > a {/*liste du footer*/
    text-decoration: none;
    color: hsl(256, 26%, 20%) ;
}
li > a:hover {
    text-decoration: underline;
    color: hsl(256, 26%, 20%) ;
}

.button{
    width : 20%;
    height: auto;
    background: none;
    border: 1px solid whitesmoke;
    padding: 1% 3%;
    color: hsl(0, 0%, 98%);
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    
   
 }
 

 .button:hover{
     background-color:hsl(0, 0%, 98%) ;
     color:hsl(256, 26%, 20%) ;

 }

/*

            SECTION1

*/

.section1{
    background: no-repeat right url("../../images/bg-pattern-intro-right-desktop.svg");
    

}

.purpleBckGnd{
    background-color: hsl(256, 26%, 20%);
    
}

.purpleBckGnd > .row > .col-sm > p {
    color: hsl(0, 0%, 98%);

}
.section1 > .row{
    
    color : hsl(0, 0%, 98%);
    margin : 0 auto;
    padding-left: 10%;
}

#humanizing{
    position: relative;
    top : 130px;
    left: 10px;
    max-width: 80%;
}

/*

            SECTION2

*/

.whiteBckGndn{
    background: no-repeat url("../../images/bg-pattern-intro-left-desktop.svg");
    padding: 5%;
    

}

.section2 {
    padding-top: 200px ;
}

.section2 > .row > .col-sm > img {

    margin: 4% auto;
}

.section2 > .row > .col-sm > img > h2 {
    margin: 6% auto;
}

.section2 >.purpleBckGnd{
    background: no-repeat right url("../../images/bg-pattern-how-we-work-desktop.svg");
    background-color: hsl(256, 26%, 20%) ;
    margin: 0 auto;
    padding: 1% 10%;
    margin: 6% auto 12% auto;
}

.section2  > .purpleBckGnd > .col-sm > h1 {

    color: hsl(0, 0%, 98%);
}

.section2 > .purpleBckGnd > .col-sm > .button {
    float: right;
    width: 30%;
    margin: auto;
    
    
    
}


/*

            NAVBAR

*/

nav > ul > li {
    display:flex;
    flex-direction: column-reverse;
    float: right;
    width: 12%;


    padding: 1% 3%;
    color: hsl(0, 0%, 98%);

    text-align: center;
    cursor: pointer;
}


nav > ul > li > a {
    color: hsl(273, 4%, 51%) ;
}


nav  {
    background:  no-repeat left url("../../images/logo.svg");
    margin-top: 5px;
    margin-left: 30px;
}
nav > ul > li:hover{
    color:hsl(270, 9%, 17%);
    font-size: 1.1em;
    
}



nav > ul > li > a:hover{
    text-decoration: none;
}


ul{
    height: 25px;
}



/*
            FOOTER
*/

footer{
    background: no-repeat left url("../../images/bg-pattern-footer-desktop.svg"), no-repeat left url("../../images/logo.svg") ;
    padding-top: 100px ;
    background-color: transparent;
}


footer > .row > .col-sm > ul > li > a{
    color : hsl(256, 26%, 20%) ;
}


footer > .row > .col-sm > ul > li > a:first-child{   
    color : hsl(273, 4%, 51%)   ;
}


/*
        navNetwork

*/



.navNetwork > ul >li {
    display:flex;
    flex-direction: column-reverse;
    float: right;
    margin: 0 2px ;
}

.navNetwork > ul > li:hover{
    background-color: black;
}